@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    align-items: center;
    min-height: 100vh;
    background: url('../img/representantes.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}

.logo {
    font-size: 3.5em;
    text-align: center;
    color: white;
    text-shadow: 6px 5px 8px black;
}

a {
    text-decoration: none;
    color: black;
}

header {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: rgba(107, 109, 108, 0.705);
    align-items: center;
    padding: 10px;
}

nav a {
    font-weight: 600;
    display: inline-block;
    padding-right: 10px;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}

nav a:hover {
    color: white;
    background-color: rgb(39, 88, 224);
}

body .wrapper {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    width: 720px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper .input-box {
    position: relative;
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 5px 0;
}

.input-box input {
    width: 50%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

table {
    margin: auto;
    display: table;
    font-size: 1em;
    table-layout: fixed;
    border: 4px solid black;
    border-collapse: collapse;
    align-items: center;
}

thead {
    background: rgba(255, 255, 255, .2);
    ;
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    color: #fff;
    font-size: 1.1em;
    border-bottom: solid 4px black;
}

.input-box input {
    width: 40%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0px;
}

.wrapper .acciones .btn {
    width: 300px;
    height: 45px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
