@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    align-items: center;
    min-height: 100vh;
    background: url('../img/representantes.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    backdrop-filter: blur(20px);
    font-size: 3.5em;
    text-align: center;
    color: white;
    text-shadow: 6px 5px 8px black;
}

a {
    text-decoration: none;
    color: black;
}

header {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: rgba(107, 109, 108, 0.705);
    align-items: center;
    padding: 10px;
}

nav a {
    font-weight: 600;
    display: inline-block;
    padding-right: 10px;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}

nav a:hover {
    color: white;
    background-color: rgb(39, 88, 224);
}

.wrapper {
    width: 520px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    position:relative;
}

body .wrapper{
    margin-left: auto;
    margin-right: auto;
}
body .wrapper .porcentajes {
    margin-left: 45px;
    display:inline-table;
    gap: 30px;

}

circle {
    display:flex;
    margin-left: 400px;
    fill: none;
    stroke: rgb(160, 160, 165);
    stroke-width: 20;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
}

circle:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
    stroke: blue;
    stroke-dasharray: 0 100;
    animation: rellenar .35s linear forwards;
}

.porcentajes {
    position: relative;
    align-items: center;
}
.wrapper .tex h2{
    text-align: center;
    font-size: 2.5em;
}
.wrapper .info h3{
    text-align: center;
    font-size: 2em;
}
.wrapper .info h4{
    text-align: center;
    font-size: 2em;
}
.wrapper .wrap{
    display: grid;
    grid-template-columns: 2fr 2fr; 
}
.porcentajes span {
    position: absolute;
    top: 40%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

@keyframes rellenar {
    to {
        stroke-dasharray: var(--porcentaje)100;

    }
}