<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-index.css')}}">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="nav link">Inicio</a>
            <a href="/nosotros" class="nav link">Sobre Nosotros</a>
            <a href="/iniciar_sesion" class="nav link">Iniciar Sesion</a>
            <a href="/registrar" class="nav link">Registrar</a>
        </nav>
    </header>
    <br>
    <div class="wrapper">
        <img src="../static/img/logo_asociacion.png" alt="logo">
        <div class="wrapper-texto">
            <div class="bienv"><b>Bienvenido al sitio web de la Asociacion de Phoenix Futbol CLub</b></div>
        </div>
    </div>

</body>

</html>