<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-nts.css')}}">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="nav link">Inicio</a>
            <a href="" class="nav link">Sobre Nosotros</a>
            <a href="/iniciar_sesion" class="nav link">Iniciar Sesion</a>
            <a href="/registrar" class="nav link">Registrar</a>
        </nav>

    </header>
    <div class="texto">Desarrolladores Grupo #1</div>
    <div class="container">
        <div class="card">
            <figure>
                <img src="../static/img/victor.JPG" alt="VL">
            </figure>
            <div class="contenido">
                <h3><b>Víctor Luces</b></h3>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../static/img/luis.jpg" alt="LC">
            </figure>
            <div class="contenido">
                <h3>Luis Cordova</h3>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../static/img/diego.png" alt="DC">
            </figure>
            <div class="contenido">
                <h3>Diego Cedeño</h3>
            </div>
        </div>

    </div>
    <div class="texto1">Este proyecto fue desarrollado con el fin de controlar y administrar la pagina de una asociasion
        de futbol.</div>
</body>

</html>