<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secretaria</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_secretaria.css')}}">
</head>

<body>
  <header>
    <nav>
      <a href="/" id="logout">Logout</a>
    </nav>
  </header>
  <br>
  <h1 class="logo">Bienvenido Sr. Secretario</h1>
  <div class="wrapper">
    <div class="acciones">
      <form action="/secretaria" method="post">
        <div class="input-box">
          <input [type="number" ] name="id" placeholder="id" required>
        </div>
        <div class="btn">
          <button type="submit" class="btn">Mostrar</button>
        </div>
      </form>
      <form action="/secretaria" method="get">
        <div class="btn">
          <button type="submit" class="btn">Mostrar todos</button>
        </div>
      </form>
    </div>
    <div class="container">
      {% if atletas %}
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Genero</th>
            <th>Cédula representante</th>
          </tr>
        </thead>
        <tbody>
          {% for atleta in atletas %}
          <tr>
            <td>{{ atleta.id_atleta }}</td>
            <td>{{ atleta.nombre }}</td>
            <td>{{ atleta.apellido }}</td>
            <td>{{ atleta.edad }}</td>
            <td>{{ atleta.genero }}</td>
            <td>{{ atleta.cedula_representante }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% elif atleta %}
      <p>Mostrando información del atleta con ID {{ atleta.id_atleta }}</p>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Genero</th>
            <th>Cédula representante</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ atleta.id_atleta }}</td>
            <td>{{ atleta.nombre }}</td>
            <td>{{ atleta.apellido }}</td>
            <td>{{ atleta.edad }}</td>
            <td>{{ atleta.genero }}</td>
            <td>{{ atleta.cedula_representante }}</td>
          </tr>
        </tbody>
      </table>
      {% else %}

      {% endif %}
    </div>
  </div>
</body>

</html>